version: '3.7'

services: 

  stt_server:
          image: stt-server:latest
          restart: always
          network_mode: host
          deploy:
            resources:
              reservations:
                devices:
                - driver: nvidia
                  device_ids: ['3']
                  capabilities: [gpu]
  emotion_server:
          image: emotion-server:latest
          restart: always
          network_mode: host
  tts_server:
          image: tts-server:latest
          restart: always
          network_mode: host
          deploy:
            resources:
              reservations:
                devices:
                - driver: nvidia
                  device_ids: ['3']
                  capabilities: [gpu]
  dispatcher:
          image: dispatcher:latest
          restart: always
          network_mode: host
  telegram-bot:
          image: telegram-bot:latest
          restart: always
          network_mode: host
