version: '3.7'

services: 

  stt_server:
          image: stt-server:latest
          restart: always
          network_mode: host
  emotion_server:
          image: emotion-server:latest
          restart: always
          network_mode: host
  tts_server:
          image: tts-server:latest
          restart: always
          network_mode: host
  dispatcher:
          image: dispatcher:latest
          restart: always
          network_mode: host
  telegram-bot:
          image: telegram-bot:latest
          restart: always
          network_mode: host
